<div class="page-header">
  <h2>Almost Done</h2>
</div>
<p class="lead">We just sent you a confirmation email, you'll need to confirm your account before being able to login.</p>
<div class="row">
  <div class="span8">
    <h4>What's next</h4>
    <p>If you haven't already, you still need to apply to the Dangerous Metaphysical Productions corporation in EVE. After reviewing your application and character background, you should be accepted within a couple days.</p>
  </div>
  <div class="span4 muted mt20">
    <p>You should be receiving the confirmation email within a couple minutes. If you haven't, check your spam folder or curse the Internet gods.</p>
    <%= link_to 'Resend confirmation', user_confirmation_path, :class=>'btn' %>
  </div>
</div>