<div class="page-header">
  <h2>Want to join?</h2>
</div>
<p class="lead">Dangerous Metaphysical Productions is the perfect corporation for pilots who enjoy a relaxed environment but also seek to excel in experience and wealth.</p>
<div class="row">
  <div class="span9">
    <h4>Apply</h4>
    <div class="well">
      Either submit an application or visit this page in the Eve Game Browser.
    </div>
  </div>
  <div class="span3">
    <h5>Minimum Qualifications</h5>
    <ol>
      <li>No Trial Account</li>
      <li>At least 2m skill points</li>
    </ol>
  </div>
</div>