<div class="page-header">
  <h2>Welcome <%= @user.username %></h2>
</div>
<p class="lead">We're excited to see what you can bring to the table.</p>
<div class="row">
  <div class="span12">
    <h4>[D-M-P]'s Future</h4>
    <p>We're working hard to provide the best resources and tools for our members. Stay tuned to participate in the beta launch of our corp web application.</p>
  </div>
</div>