<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Corporation</th>
      <th>Start Date</th>
    </tr>
  </thead>
  <tbody>
    <% @info.employmentHistory.each do |e| %>
    <tr>
      <td><%= e.corporationID %></td>
      <td><%= e.startDate %></td>
    </tr>
    <% end %>
  </tbody>
</table>