<% content_for :secondary do %>
<nav id="secondary" class="user-nav">
  <div class="character-menu" data-bind="foreach: character">
    <div class="pull-left">
      <div class="avatar" data-bind="icon:{id:character_id,type:'Character',size:'32'}"></div>
    </div>
    <div class="pull-left">
      <div class="title" data-bind="text: name"></div>
      <div class="corp" data-bind="text: corporation_name"></div>
    </div>
  </div>
  <ul class="secondary-nav-menu">
    <li><%= active_link_to 'Character', info_character_index_path, :class => 'icon-list-alt' %></li>
    <li><%= active_link_to 'Kill Log', killlog_character_index_path, :class => 'icon-screenshot' %></li>
  </ul>
</nav>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active"><%= link_to 'Character', info_character_index_path %></li>
<% end %>