<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Skillpoints</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    <% @character.skills.each do |skill| %>
      <tr>
        <td><%= skill.typeID %></td>
        <td><%= skill.skillpoints %></td>
        <td>
          <div class="progress progress-info">
            <div class="bar" style="width: <%= skill.level %>0%"></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>