<%= render 'nav' %>
<div class="container-fluid" id="character_killlogs">
  <div class="row-fluid">
    <div class="span12" data-bind="template:{name:'kills', foreach: kills}"></div>
    <!-- ko if: kills().length === 0 -->
      <h3 class="large-date">Your character doesn't have any kills or losses.</h3>
    <!-- /ko -->
  </div>
</div>
<script type="text/html" id="kills">
<div class="row-fluid">
  <div class="span2">
    <h4 class="large-date" data-bind="date: time()"></h4>
    <h6 class="large-date" data-bind="dateInWords: time()"></h6>
    <h6 class="large-date" data-bind="text: solarSystem"></h6>
  </div>
  <div class="span10">
    <div class="black-box">
      <div class="row-fluid">
        <div class="span3 victims" data-bind="foreach: victims">
          <div class="victim avatar pull-left" data-bind="icon:{id:ship(),size:'64',type:'InventoryType'}">
          </div>
          <h5 data-bind="name:ship()"></h5>
          <ul class="meta unstyled">
            <li class="text-error" data-bind="text: 'Damage Taken: '+damageTaken()"></li>
            <li>
              Inv.: <span data-bind="text: $parent.items().length"></span>
            </li>
          </ul>
        </div>
        <div class="span9" data-bind="foreach: attackers">
          <div class="attacker" data-bind="css: finalBlow() ? 'final-blow':''">
            <div class="icons">
              <div class="pull-left avatar" data-bind="icon:{id:id(), size:'64',type:'Character'}"></div>
              <div class="ship-icon" data-bind="icon:{id:ship(), size:'32',type:'InventoryType'}"></div>
              <div class="weapon-icon" data-bind="icon:{id:weapon(), size:'32',type:'InventoryType'}"></div>
            </div>
            <div class="info">
              <h5 class="name" data-bind="text: name"></h5>
              <span class="muted corp" data-bind="text: corporation"></span>
              <span class="text-error damage-done" data-bind="damage: {total: $parent.totalDamage(), attacker: damageDone()}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/javascript">
  dmp.character.init();
  dmp.character.killlog();
</script>