<%= render 'nav' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" data->
      <div class="box">
        <div class="tab-header">Kill Log</div>
        <table class="table table-condensed table-bordered killlog">
          <thead>
            <tr>
              <th>Victim</th>
              <th>Attacker/s</th>
              <th>Items</th>
            </tr>
          </thead>
          <tbody data-bind="template:{name: 'kills', foreach: kills}">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="kills">
<tr>
  <td data-bind="if: victim">
    <div class="btn-group attacker">
      <button class="btn type_icon" data-bind="icon:{id:victim.attribs.shipTypeID,size:'32',type:'InventoryType'}"></button>
      <button class="btn" data-bind="text:victim.attribs.characterName"></button>
      <button class="btn btn-danger" data-bind="text:victim.attribs.damageTaken"></button>
    </div>
  </td>
  <td data-bind="foreach: attackers">
    <div class="btn-group attacker">
      <button class="btn type_icon" data-bind="icon:{id:shipTypeID, size:'32',type:'InventoryType'}"></button>
      <!-- ko if: weaponTypeID.length > 1 -->
      <button class="btn type_icon" data-bind="icon:{id:weaponTypeID, size:'32',type:'InventoryType'}"></button>
      <!-- /ko -->
      <button class="btn" data-bind="text: characterName.length === 0 ? corporationName : characterName"></button>
      <button class="btn" rel="tooltip" title="Damage done to the victim"><span class="text-error" data-bind="text: damageDone"></span></button>
    </div>
  </td>
  <td data-bind="if: items">
    <a class="btn btn-mini" data-toggle="modal" data-bind="attr:{href:'#items'+$index()}">
      <span data-bind="text: items.length"></span>
      <span class="caret"></span>
    </a>
    <div class="modal hide fade black-box" role="dialog" data-bind="attr:{id:'items'+$index()}">
      <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span data-bind="text: items.length+' Items'"></span>
      </div>
      <div class="modal-body" data-bind="foreach: items">
        <div class="inner-well item clearfix ">
          <div class="item-info">
            <span class="span1" data-bind="icon:{id:typeID,size:'32',type:'InventoryType'}"></span>
            <span class="span6">
              <h5 data-bind="name:typeID"></h5>
            </span>
            <div class="item-count">
              <!-- ko if: qtyDestroyed >= qtyDropped -->
              <span class="badge red" data-bind="text: qtyDestroyed"></span>
              <!-- /ko -->
              <!-- ko if: qtyDropped > qtyDestroyed -->
              <span class="badge black" data-bind="text: qtyDropped"></span>
              <!-- /ko -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
</script>
<script type="text/javascript">
  dmp.character.init();
</script>