<div class="page-header">
  <h2>Almost Done</h2>
</div>
<p class="lead">We just sent you a confirmation email, you'll need to confirm your account before being able to login.</p>
<div class="row">
  <div class="span6">
    <h4>What's next</h4>
    <p>Configuring the options and settings for your corporation.</p>
  </div>
  <div class="span6 muted mt20">
    <p>You should be receiving the confirmation email within a couple minutes. If you haven't, check your spam folder or curse the Internet gods.</p>
    <%= link_to 'Resend confirmation', user_confirmation_path, :class=>'btn' %>
  </div>
</div>