<div class="page-header">
  <h2>Get to know us</h2>
</div>
<p class="lead">We're an easy going corporation of experienced and independent pilots working together for fun and profit. This is a real life comes first, low tax, low stress corporation. Lastly we want to help and train those new to EVE while forming friendships and alliances with corporations who uphold similar values.</p>
<div class="well well-small clearfix">
  <div class="span9">
    <h4>We're Recruiting!</h4>
    <p>Are you an entrepreneur? Awesome! We would love to hear from you.</p>
  </div>
  <div class="span2">
    <%= link_to 'Learn More', recruitment_index_path, :class=>'btn btn-large pull-right mt15' %>
  </div>
</div>