<div class="page-header">
  <h2>Get to know us</h2>
</div>
<p class="lead">Our primary objective is to produce the best TII & TIII items, help and train those new to EVE production, mining, and combat. Maintain a peaceful enviroment that allows for relaxed participation. Lastly, form friendships and alliances with corps who uphold similar values.</p>