<div class="page-header">
  <p class="lead">A modern, robust, and easy to use corp management tool for your EVE Universe.</p>
</div>
<div class="well well-small clearfix">
  <div class="span8">
    <h4>Characters, Corporations, or Alliances.</h4>
    <p>EVE Hub was built for your needs at any level.</p>
  </div>
  <div class="span3">
    <%= link_to 'Get Started Today', register_path, :class=>'btn btn-large btn-block btn-primary pull-right mt15' %>
  </div>
</div>