@import 'compass';
.killlog {
  .item {
    margin-bottom: 5px;
    padding: 5px;
    h5 {
      margin: 0px;
    }
    .badge {
      margin: 7px;
    }
    &.muted {
      img {
        @include opacity(.5);
      }
      .badge {
        @include opacity(.5);
      }
    }
  }
  .attacker,.victim {
    display: inline-block;
    .type_icon {
      padding: 0px;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}