@import 'bootstrap';
@import 'compass';
@import 'compass/css3/filter';

$dark: #001920;
$darkblue: #092D45;
$darkgreen: #2E534C;
$lightblue: #9FC3DD;
$greywhite: #B8D0DA;
$white: #fff;

body {
  position: relative;
  padding-top: 40px;
  &.home {
    @include background(url('3.jpg') top center no-repeat);
    background-color: #0d0e10;
  }
  &.recruitment, &.registrations.new, &.registrations.create {
    @include background(url('4.jpg') top center no-repeat);
    background-color: #000;
  }
  &.sessions {
    @include background(url('5.jpg') top center no-repeat);
    background-color: #000;
  }
  &.registrations.edit {
    @include background(url('6.jpg') top center no-repeat);
    background-color: #000;
  }
}
.mt15 {
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.header {
  padding: 40px 0;
  color: $white;
  position: relative;
  h1 {
   font-size: 60px;
   line-height: 70px;
   font-weight: 200;
   text-shadow: 0 1px 1px $dark;
  }
  p {
   color: $greywhite;
   text-shadow: 0 1px 1px $dark;
  }
  .container {
    position: relative;
    z-index: 100;
  }
}
.reg-step {
  border-top: 1px dashed #EEE;
  padding-top: 20px;
  h3 {
    margin-top: -10px;
    padding-top: 0px;
  }
}
#main {
  .container {
    @include background(linear-gradient(top,#fff,darken(#fff,2)));
    position: relative;
    padding: 10px 20px 20px;
    //width: 900px;
    margin-top: 20px;
    @include box-shadow(0 0 10px #000);
  }
}
.navbar {
  .breadcrumb {
    background: none;
    margin: 0px;
    padding: 0px;
    a {
      padding: 10px 0;
      display: inline-block;
    }
  }
}
.killlog {
  .item {
    margin-bottom: 5px;
    padding: 5px;
    h5 {
      margin: 0px;
    }
    .badge {
      margin: 7px;
    }
    &.muted {
      img {
        @include opacity(.5);
      }
      .badge {
        @include opacity(.5);
      }
    }
  }
  .attacker,.victim {
    display: inline-block;
    .type_icon {
      padding: 0px;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }
}