@import 'bootstrap';
@import 'compass';
@import 'compass/css3/filter';

$dark: #001920;
$darkblue: #092D45;
$darkgreen: #2E534C;
$lightblue: #9FC3DD;
$greywhite: #B8D0DA;
$white: #fff;

body {
  position: relative;
  padding-top: 40px;
  background-repeat: no-repeat;
  &.recruitment,&.sessions {
    @include background(url('2.jpg'));
    background-color: #04090d;
  }
  &.home,&.registrations {
    @include background(url('3.jpg'));
    background-color: #0d0e10;
  }
}
.mt15 {
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.header {
  padding: 40px 0;
  color: $white;
  position: relative;
  h1 {
   font-size: 60px;
   line-height: 70px;
   font-weight: 200;
   text-shadow: 0 1px 1px $dark;
  }
  p {
   color: $greywhite;
   text-shadow: 0 1px 1px $dark;
  }
  .container {
    position: relative;
    z-index: 100;
  }
}
.reg-step {
  border-top: 1px dashed #EEE;
  padding-top: 20px;
  h3 {
    margin-top: -10px;
    padding-top: 0px;
  }
}
#main {
  .container {
    @include background(linear-gradient(top,#fff,darken(#fff,2)));
    position: relative;
    padding: 10px 20px 20px;
    //width: 900px;
    margin-top: 20px;
    @include box-shadow(0 0 10px #000);
  }
}