<% content_for :secondary do %>
<nav id="secondary" class="user-nav">
  <div class="character-menu clearfix" data-bind="with: sheet">
    <div class="pull-left" >
      <div class="avatar" data-bind="icon:{id:corporationID,type:'Corporation',size:'32'}"></div>
    </div>
    <div class="pull-left">
      <div class="title" data-bind="text:corporationName"></div>
    </div>
  </div>
  <ul class="secondary-nav-menu">
    <li><%= active_link_to 'Dashboard', corporation_index_path, :class=>'icon-dashboard', :active => ['corporation','index'] %></li>
    <% if @corpadmin %>
    <li><%= active_link_to 'Starbases', starbase_list_corporation_index_path, :class=>'icon-filter' %></li>
    <li><%= active_link_to 'Members', member_tracking_corporation_index_path, :class=>'icon-group' %></li>
    <% end %>
  </ul>
</nav>
<% end %>
<% content_for :breadcrumb do %>
  <li class="active"><%= link_to 'Corp', corporation_index_path %></li>
<% end %>